# WebDAV configuration
WEBDAV_ROOT_URL=http://localhost:4080
WEBDAV_ROOT_PATH=/webdav
WEBDAV_USERNAME=admin

# Password can be plain text
WEBDAV_PASSWORD=password

# Or password can be a bcrypt hash with the {bcrypt} prefix
# WEBDAV_PASSWORD={bcrypt}$2y$05$CyLKnUwn9fqqKQFEbxpZFuE9mzWR/x8t6TE7.CgAN0oT8I/5jKJBy

# Server configuration (for HTTP mode)
SERVER_PORT=3000

# Authentication configuration (for HTTP mode)
AUTH_USERNAME=user
AUTH_PASSWORD=pass
